@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
.red-word{
    color: red;
}
.btn{
    padding: 16px 25px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    transition: 1s;
    cursor: pointer;
}
.btn:hover{
    color: white;
    background-color: red;
}
.logo{
    cursor: pointer;
}
nav {
    background-color: gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.manu{
    list-style: none;
    display: flex ;
    gap: 20px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    
}
.manu li{
    transition: .4s;
}
.manu li:hover{
    color: red;
    cursor: pointer;
}
.banner-container{
    height: 100vh;
    background-image: url(./asset/image/background.jpg), linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)) ;
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center ;

}
.contain > h2{
    color: white;
    font-size: 70px;
    font-weight: 700;
    
}
.contain>p{
    color: white;
    font-size: 18px;
    width: 50%;
    margin: auto;
    line-height: 20px;
}
.contain>button{
    margin: 20px 10px;
}
.services{
    height: 100vh;
    background-image: url(./asset/image/footer-bg.png), linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.8)) ;
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    padding-bottom: 900px;
}
.services-container{
    display: flex;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 100px;
}
.container-left{
    color: white;
}
.container-left>h3{
    font-size: 35px;
    margin-top: 20px;
}
.container-left>p{
    font-size: 18px;
    width: 80%;
    margin-top: 10px;
}
.container-left>ol{
    margin-top: 25px;
    margin-left: 20px;
}
.profile{
    margin-top: 20px;
    display: flex;
    gap: 60px;
}
.profile .image-text{
    display: flex;
    align-items: center;
}
.profile .image-text>img{
    width: 70px;
    border-radius: 50%;
    margin-right: 10px;
}
.profile .image-text h4{
    font-size: 20px;
    border-right: 1px solid red;
    padding-right: 30px;
}
.container-right{
    padding-top: 50px;
}
.two-bod{
    display: flex;
    gap: 10px;
    margin-top: 10px;  
    align-items: center;
}
.box{
    background-color: #fff;
    padding: 40px 60px;
    border-radius: 4px;
    
}
.box img{
    width: 150px;
    
}
.contact .phone img{
    width: 80px;
}
.contact .phone{
    display: flex;
    align-items: center;
}
.contact .phone>h4{
    font-size: 18px;
    margin-left: 10px;
}
.sml-text{
    font-size: 14px;
}
.contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.589);
    width: 80%;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    margin-top: -72px;
}
.discribtion input{
   padding: 15px 50px;
   border: none;
}